p{
    background-color: rgb(201, 27, 62);
    color: rgb(246, 242, 242);
    margin-top: 5%;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 7px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    }