<ul>
    <li routerLink="/dashboard" routerLinkActive="active" routerLinkActive="active">Dashboard</li>
    <li routerLink="/loc" routerLinkActive="active">List of Candidates</li>
    <li routerLink="/progress" routerLinkActive="active">Progress and Submission</li>
    <li routerLink="/interview" routerLinkActive="active">Interview Schedule</li>
    <li routerLink="/support" routerLinkActive="active">Support</li>
    <li routerLink="/training" routerLinkActive="active">Training Schedule</li>
    <li routerLink="/events" routerLinkActive="active">Upcoming Events</li>
    <li routerLink="/assets" routerLinkActive="active">Assets</li>
    <li routerLink="/personal" routerLinkActive="active">Personal Profile</li>
</ul>
