li{
    display: inline-block;
    padding: 7px;
    font-weight: bold;
    font-size: large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;   
    margin-left: 18px;
    text-align: center;
}
ul{
    background-color: rgb(201, 27, 62);
    color: white;
    position:absolute;
    top: 150px;
}
li:hover, li.active{
    cursor: pointer;
    background-color: lightblue;
    color: black;
}