<input type="text" placeholder="Name">
<input type="text" placeholder="Location">
<input type="text" placeholder="Visa Status">
<input type="number" placeholder="Contact number">
<input type="email" placeholder="Email">
<input type="text" placeholder="Password">
<input type="date" placeholder="Profile start Date">
<input type="text" placeholder="Progress">
<input type="text" placeholder="Remarks"><br><br>
<button type="submit">Submit</button>
<br><br>
<table>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Location</th>
        <th>Visa Status</th>
        <th>Contact Number</th>
        <th>Email id</th>
        <th>Password</th>
        <th>Profile Start Date</th>
        <th>Progress</th>
        <th>Remarks</th>
    </tr>
</table>
